/*=== start default style */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0; }

html,
body {
  scroll-behavior: smooth; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: transparent; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

img {
  max-width: 100%; }

button {
  cursor: pointer;
  display: block; }

a, a:hover {
  cursor: pointer;
  text-decoration: none;
  color: inherit; }

dl, ol, ul {
  margin: 0;
  list-style: none; }

form {
  overflow: hidden; }

span {
  vertical-align: middle; }

.esc {
  cursor: pointer; }

/*=== end default style */
/*===== start font style ===== */
html, body {
  font-family: Tahoma, Verdana, Segoe, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: Tahoma, Verdana, Segoe, sans-serif; }

html, body {
  font-size: 14px; }
  @media all and (max-width: 575px) {
    html, body {
      font-size: 12px; } }
  @media all and (min-width: 1200px) {
    html, body {
      font-size: 16px; } }

p {
  font-size: 0.9rem;
  font-weight: normal;
  letter-spacing: 0;
  margin: 0;
  line-height: 1.6; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0;
  line-height: 1.6;
  text-transform: capitalize; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.1rem; }

h6 {
  font-weight: normal;
  font-size: 0.8rem; }

.underline {
  text-decoration: underline; }

/*===== end font style ===== */
.warpper {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0; }

.container {
  display: block;
  width: 90%;
  padding: 0;
  margin: 0 auto; }

.row {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0; }
  .row:after {
    content: "";
    display: block;
    clear: both; }

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  display: inline-block;
  float: left;
  padding: 0 1%;
  margin: 0; }

.col-1 {
  width: 8.3333333333%; }

.col-2 {
  width: 16.6666666667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.3333333333%; }

.col-5 {
  width: 41.6666666667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.3333333333%; }

.col-8 {
  width: 66.6666666667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.3333333333%; }

.col-11 {
  width: 91.6666666667%; }

.col-12 {
  width: 100%; }

@media all and (max-width: 575px) {
  .col-xs-1 {
    width: 8.3333333333%; }

  .col-xs-2 {
    width: 16.6666666667%; }

  .col-xs-3 {
    width: 25%; }

  .col-xs-4 {
    width: 33.3333333333%; }

  .col-xs-5 {
    width: 41.6666666667%; }

  .col-xs-6 {
    width: 50%; }

  .col-xs-7 {
    width: 58.3333333333%; }

  .col-xs-8 {
    width: 66.6666666667%; }

  .col-xs-9 {
    width: 75%; }

  .col-xs-10 {
    width: 83.3333333333%; }

  .col-xs-11 {
    width: 91.6666666667%; }

  .col-xs-12 {
    width: 100%; } }
@media all and (min-width: 576px) {
  .col-sm-1 {
    width: 8.3333333333%; }

  .col-sm-2 {
    width: 16.6666666667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.3333333333%; }

  .col-sm-5 {
    width: 41.6666666667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.3333333333%; }

  .col-sm-8 {
    width: 66.6666666667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.3333333333%; }

  .col-sm-11 {
    width: 91.6666666667%; }

  .col-sm-12 {
    width: 100%; } }
@media all and (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%; }

  .col-md-2 {
    width: 16.6666666667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.3333333333%; }

  .col-md-5 {
    width: 41.6666666667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.3333333333%; }

  .col-md-8 {
    width: 66.6666666667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.3333333333%; }

  .col-md-11 {
    width: 91.6666666667%; }

  .col-md-12 {
    width: 100%; } }
@media all and (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%; }

  .col-lg-2 {
    width: 16.6666666667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.3333333333%; }

  .col-lg-5 {
    width: 41.6666666667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.3333333333%; }

  .col-lg-8 {
    width: 66.6666666667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.3333333333%; }

  .col-lg-11 {
    width: 91.6666666667%; }

  .col-lg-12 {
    width: 100%; } }
@media all and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%; }

  .col-xl-2 {
    width: 16.6666666667%; }

  .col-xl-3 {
    width: 25%; }

  .col-xl-4 {
    width: 33.3333333333%; }

  .col-xl-5 {
    width: 41.6666666667%; }

  .col-xl-6 {
    width: 50%; }

  .col-xl-7 {
    width: 58.3333333333%; }

  .col-xl-8 {
    width: 66.6666666667%; }

  .col-xl-9 {
    width: 75%; }

  .col-xl-10 {
    width: 83.3333333333%; }

  .col-xl-11 {
    width: 91.6666666667%; }

  .col-xl-12 {
    width: 100%; } }
.nav {
  background-color: #3B3F4C;
  color: #f1eff7; }

html,
body {
  background-color: #f1eff7; }

.dropmanu .drop-item li {
  background-color: #2896ca; }

html,
body {
  color: #3c3e45; }

.list .item-list.active {
  color: #2896ca; }

.list, .dropmanu .drop-item {
  color: #f1eff7; }

.nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 1em 0; }
  .nav:after {
    content: '';
    display: block;
    clear: both; }
  .list {
    list-style: none;
    text-align: center;
    text-transform: capitalize;
    text-align: center; }
    .list .item-list {
      display: inline-block;
      padding: 0.5em;
      font-size: 1.2em; }

.dropmanu {
  position: relative;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2em;
  padding-top: 5%;
  cursor: pointer; }
  .dropmanu .drop-item {
    position: absolute;
    top: auto;
    overflow: hidden;
    left: 0;
    right: 0;
    display: none;
    padding-top: 0.5em; }
    .dropmanu .drop-item li {
      padding: 0.5em; }

.article {
  padding: 2em 0;
  overflow: hidden; }

.section {
  height: 500px;
  padding: 1em 0;
  text-indent: 2em;
  background: blue;
  font-size: 2 px; }

.btn:focus,
.btn-primary:focus {
  border: 0;
  outline: 0;
  box-shadow: none; }

.btn {
  border: 0;
  padding: 0.5em 1em;
  text-transform: uppercase; }

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("bg/brdown.png") 95% center no-repeat; }

@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important; }

  @page {
    margin: 0.5cm; }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a:after, a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; }

  hr {
    border-top: 1px solid #000 !important;
    border-bottom: 0 !important; }

  .manu {
    display: none; }

  .article {
    width: 100%;
    float: none; }

  .top-nav {
    display: none; } }

/*# sourceMappingURL=main.css.map */
