/*=== start default style */
*
{
    @include box-sizing();
    border: 0;
    outline: 0;
    margin:0;
    padding:0;
}
html,
body
{
    scroll-behavior: smooth;
    @extend %textback;
    @extend %bgwhite;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
img
{
    max-width: 100%;
}
button
{
    cursor: pointer;
    display:block;
}
a,a:hover
{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
dl, ol, ul
{
    margin: 0;
    list-style:none;
}
form
{
     overflow: hidden;
}
span
{
    vertical-align: middle;
}
.esc
{
    cursor: pointer;
}
/*=== end default style */