%bgtransparent
{
	background-color: transparent;
}
%bgblack
{
	background-color:$backcolor;
	color:$whitecolor;
}
%bgwhite
{
	background-color:$whitecolor;
}
%bgblue
{
	background-color:$color1;
}
%bgdark
{
	background-color:$textcolor1;
}
%bgdark2
{
	background-color:$textcolor2;
}
//text color
%textback
{
	color:$textcolor2;
}
%textdark
{
	color:$textcolor1;
}
%textblue
{
	color:$color1;
}
%textwhite
{
	color:$whitecolor;
}
//border color
%borderblue
{
	border-color:$color1;
}
%borderblack
{
	border-color:$textcolor1;
}
%borderdark
{
	border-color:$textcolor2;
}
%outlineblue
{
	outline-color: rgba($color1,0.5);
}
